@page "/ApiKeys"
@using virtualmuseum.web.api.Services
@inject ICustomRoleService CustomRoleService
@attribute [Authorize]
<h3>Api Keys</h3>
@if (!CustomRoleService.HasRole("Administrator"))
{
    <div class="rounded-2 alert-danger p-3 mt-5 mb-5" style="border: gray 1px solid;">
        <h4>Access Denied</h4>
        <p>&nbsp;</p>
        <p>Sorry, you are not authorized to access this page.</p>
    </div>
}
else
{
    <div class="rounded-2 alert-light p-3 mt-5 mb-5" style="border: gray 1px solid;">
        <h4>API Keys</h4>
        <p>&nbsp;</p>
        <p>An dieser Stelle können Sie künftig API Keys erstellen.</p>
        <p>API Keys werden benötigt, um den einzelnen Geräten (Quest3) Zugang zu den hier konfigurierten Daten zu erlauben.</p>
    </div>
}
